# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Database files
*.db
*.db-shm
*.db-wal

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Others
*.Cache
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap
